:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0.65rem 0.8rem;
  border: 0.1rem solid #242424;
  border-radius: 0.3rem;
}

input {
  padding: 0.65rem 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid white;
}

ul > li {
  list-style: none;
}
